/*=== Colors ===*/
$primary = #1abc9c;
$laravel = #FB503B;
$success = #2ecc71;
$info = #4CB0F9;
$purple = #9b59b6;
$warning = #e67e22;
$danger = #FF7680;
$sunflower = #f1c40f;
$orange = #f39c12;
$clouds = #ecf0f1;
$concrete = #95a5a6;
$asphalt = #34495e;
$white = #ffffff

$colors = {
  primary: #1abc9c
  laravel: #FB503B
  success: #2ecc71
  info : #4CB0F9
  purple : #9b59b6
  warning : #e67e22
  danger : #FF7680
  sunflower : #f1c40f
  orange : #f39c12
  clouds : #ecf0f1
  concrete : #95a5a6
  asphalt : #34495e
}