/*=== Variables ===*/
@import "colors.styl"
@import "variables.styl"
@import "functions.styl"
@import "mixins.styl"

/*=== Reset ===*/
@import "elements/normalize.styl"
@import "elements/print.styl"

/*=== Fonts ===*/
@import "plugins/font-awesome.css"
@import "plugins/materialdesignicons.css"
@import "plugins/tipso.css"
@import "plugins/morris.css"

/*=== import base icheck ===*/
for theme, skins in $icheck
  for skin in skins
    @import 'plugins/icheck/' + theme + '/' + skin + '.styl'

/*=== Import icheck override ===*/
@import "elements/plugin-icheck.styl"

/*=== Elements ===*/
@import "elements/spaces.styl"
@import "elements/general.styl"
@import "elements/layout.styl"
@import "elements/typography.styl"
@import "elements/top-bar.styl"
@import "elements/main-menu.styl"
@import "elements/content.styl"
@import "elements/grid.styl"
@import "elements/page-title.styl"
@import "elements/breadcrumb.styl"
@import "elements/box.styl"
@import "elements/blockquote.styl"
@import "elements/well.styl"
@import "elements/helpers.styl"
@import "elements/font-icons.styl"
@import "elements/buttons.styl"
@import "elements/button-group.styl"
@import "elements/tabs.styl"
@import "elements/accordion.styl"
@import "elements/modal.styl"
@import "elements/alert.styl"
@import "elements/forms.styl"
@import "elements/table.styl"
@import "elements/404.styl"

/*=== Auth ===*/
@import "elements/auth.styl"
