.alert
  position relative
  padding 20px
  border 1px solid $clouds

  .close
    position absolute
    top 10px
    padding 0
    right 8px
    color inherit

for name, color in $colors
  .alert.{name}
    background color
    color white
    
/*=== Alert for login and register ===*/
.alert-messages
  margin 0
  padding 0
  list-style none

.auth.login

  .alert
    padding 1em
    margin 1em

  .register

    .alert
      margin 0