// Blockquotes
blockquote
  padding: ($line-height-computed / 2) $line-height-computed
  margin: 0 0 $line-height-computed
  font-size: $blockquote-font-size
  border-left: 5px solid $concrete-dark

  p,
  ul,
  ol
    &:last-child
      margin-bottom 0

  footer,
  small,
  .small
    display block
    font-size 80% // back to default font-size
    line-height $line-height-base
    color $text-color

    &:before
      content '\2014 \00A0'; // em dash, nbsp

.blockquote-reverse,
blockquote.pull-right
  padding-right 15px
  padding-left 0
  border-right 5px solid @blockquote-border-color
  border-left 0
  text-align right

  // Account for citation
  footer,
  small,
  .small
    &:before
      content ''
    &:after
      content '\00A0 \2014' // nbsp, em dash

blockquote.has-background
  background-color $clouds

blockquote.is-primary
  border-color $primary

blockquote.is-info
  border-color $info

blockquote.is-warning
  border-color $warning

blockquote.is-success
  border-color $success
