/*=== General ===*/
*
*::before
*::after
  -webkit-box-sizing border-box
  box-sizing border-box

html
body
  font-family $site-font-family
  font-size $font-size-base
  line-height $line-height-computed
  font-style normal
  font-weight normal
  //min-height 100%
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent
  height 100%
  width 100%
  background $page-background
  color rgba(118, 118, 118, 1.0)
  padding 0 !important
  margin 0 !important

@-ms-viewport
  width device-width

audio:not([controls])
  display none
  height 0

[hidden],
template
  display none

a
  background-color transparent

a:active,
a:hover
  outline 0

abbr[title],
abbr[data-original-title]
  cursor: help;
  border-bottom: 1px dotted $concrete;
  text-decoration  none

.initialism
  font-size 90%
  text-transform uppercase
b,
strong
  font-weight bold

dfn
  font-style italic

h1
  margin .67em 0
  font-size 2em

mark
  color white
  background $orange

small
  font-size 80%

sub,
sup
  position relative
  font-size 75%
  line-height 0
  vertical-align baseline

sup
  top -.5em

sub
  bottom -.25em

img
  border 0

svg:not(:root)
  overflow hidden

figure
  margin 1em 40px

hr
  height 0
  -webkit-box-sizing content-box
  -moz-box-sizing content-box
  box-sizing content-box

pre
  overflow auto

code,
kbd,
pre,
samp
  font-family monospace, monospace
  font-size 1em

button,
input,
optgroup,
select,
textarea
  margin 0
  font inherit
  color inherit

button
  overflow visible

button,
select
  text-transform none

button,
html input[type="button"],
input[type="reset"],
input[type="submit"]
  -webkit-appearance button
  cursor pointer

button[disabled],
html input[disabled]
  cursor default

button::-moz-focus-inner,
input::-moz-focus-inner
  padding 0
  border 0

input
  line-height normal

input[type="checkbox"],
input[type="radio"]
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  padding 0

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
  height auto

input[type="search"]
  -webkit-box-sizing content-box
  -moz-box-sizing content-box
  box-sizing content-box
  -webkit-appearance textfield

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
  -webkit-appearance none

fieldset
  padding .35em .625em .75em
  margin 0 2px
  border 1px solid #c0c0c0

legend
  padding 0
  border 0

textarea
  overflow auto

optgroup
  font-weight bold

table
  border-spacing 0
  border-collapse collapse

td,
th
  padding 0

/*=== Scrollbar ===*/
if $customize-scrollbar == true
  scrollbar('', $scrollbar-color, $scrollbar-width)