/*=== Center ===*/
.center-block
  display block
  margin-right auto
  margin-left auto

/*=== Float ===*/ 
.pull-right
  float right !important

.pull-left
  float left !important

/*==== Text ====*/
.text-center
  text-align center

.text-left
  text-align left

.text-right
  text-align right

.text-capitalize
  text-transform capitalize

.text-uppercase
  text-transform uppercase

.text-lowercase
  text-transform lowercase

.text-justify
  text-align justify

.center-el
  > *
    margin 0 auto